{% extends "drink_service/premium_base.html" %}
{% load static %}
{% block content %}
<br>
<br>

<div class="username">
    <br>
    <h1>All Recipes</h1>
    <br>
    <h2>
    {% if user.is_authenticated %}
    Hi {{ user.username }}, welcome to Drink Buddy Premium!
    {% endif %}
    </h2>
    <h2>Click any drink you like and see it's recipes</h2>
</div>
<br>
<br>
<div class="row">
    {% for recipe in recipes %}
    
        <div class="col">
        <div class="card" style="width: 180px;">
            <a href="{% url 'drink_service-detail' recipe.id %}">
            <img src="{{ recipe.imagefile.url }}" class="card-img-top"></a>
            <div class="card-body">
                <h5 class="card-title">{{ recipe.name }}</h5>
            </div>
        </div>
        </div>
        
    {% endfor %}
</div>

<br>
    <div class="pagination"><h3>
   
        <ul class="pagination">
        {% if recipes.has_previous %}
        <a href="?page={{ recipes.previous_page_number }}">Previous</a>
        {% endif %}
        {% if recipes.has_previous %}
            <li><a href="?page={{ recipes.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a></li>
        {% else %}
            <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
        {% endif %}
        
        {% if recipes.number|add:'-4' > 1 %}
            <li><a href="?page={{ recipes.number|add:'-5' }}">&hellip;</a></li>
        {% endif %}
        
        {% for i in recipes.paginator.page_range %}
            {% if recipes.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
            {% elif i > recipes.number|add:'-5' and i < recipes.number|add:'5' %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endfor %}
        
        {% if recipes.paginator.num_pages > recipes.number|add:'4' %}
            <li><a href="?page={{ recipes.number|add:'5' }}">&hellip;</a></li>
        {% endif %}
        
        {% if recipes.has_next %}
            <li><a href="?page={{ recipes.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a></li>
        {% else %}
            <li class="disabled"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
        {% endif %}
        {% if recipes.has_next %}
        <a href="?page={{ recipes.next_page_number }}">Next</a>
         {% endif %}
        </ul>
    </h3></div>

<br>
{% endblock content %}

