{% extends 'drink_service/base.html' %}
{% load static %}
{% block content %}
<br>
<br>
<!-- <h1>Welcome to Drink Buddy App! </h1> -->
<br>
<!-- <p>This app will suggest you Drinks,Coffee,Tea according to weather. </p> -->
<br>
<br>
<div class="location_info">
    <form method="post" action="{% url 'landing_page' %}">
    {% csrf_token %}
    <label for="location">Enter your location:</label>
    <input type="text" name="location" id="location" required class="input-style">
    <button class = 'buttons' type="submit">Submit</button>
    </form>
</div>
{% endblock %}