{% extends "drink_service/premium_drink_base.html" %}
{% load static %}
{% block content %}
    <title>Recipe Detail</title>
    <link rel="stylesheet" href="{% static 'drink_service/custom_premium.css' %}">
</head>
<body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <header>
        <h1>{{ recipe.name }}</h1>
    </header>
    <main class="trial">
        <div class="result_image">
            <img src="{{ recipe.imagefile.url }}" class="card-img-top">
        </div>
        <div class="text_field">
            <h4>{{ recipe.title }}</h4>
            <p>{{ recipe.description }}</p>
            <h4>Ingredients</h4>
            {{ recipe.ingredients }}
            <h4>Recipe</h4>
            {{ recipe.recipe }}
        </div>           
    </main>
</body>
    <footer>
        <br>
        <br>
        <p>Drink Buddy &copy; 2023</p>
    </footer>
{% endblock content %}