{% extends "home/base_premium.html" %}
{% load static %}
{% block content %}
    <title>Recipe Detail</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Recipe Detail</h1>
    </header>
    <main>
        <img src="{{recipe.imagefile.url}}" class="card-img-top" alt="{{...}}">
        <h2>{{ recipe.title }}</h2>
        <p>{{ recipe.description }}</p>
        <h3>Ingredients</h3>
        {{ recipe.ingredients }}
        <h3>Recipe</h3>
        {{ recipe.recipe}}
        <h3>Time Of The Year</h3>
        {{ recipe.timeOfYear}}
        <h3>Time To Drink</h3>
        {{ recipe.timeToDrink}}
        <h3>Social Situation</h3>
        {{ recipe.socialSituation}}
        <h3>Mood</h3>
        {{ recipe.mood}}
        <h3>Temperature Of Location</h3>
        {{ recipe.temperatureOfLocation}}
        <h3>Time Of Day</h3>
        {{ recipe.timeOfDay}}
        
      
        <h3>Instructions:</h3>
        <ol>
            {% for step in recipe.instructions %}
            <li>{{ step }}</li>
            {% endfor %}
        </ol>
    </main>
    <footer>
        <p>Recipe App &copy; 2023</p>
    </footer>
{% endblock content %}