{% extends "home/base_premium.html" %}
{% load static %}
{% block content %}
</br>
</br>
<h1>Feel Good Drink Buddies!!</h1>
</br>
</br>
<div class="row">
    {%for recipe in recipes%}
        
        <div class="col">
        <div class="card" style="width: 368; height: 368;">
            <a href="{% url 'drink_service-detail' recipe.id %}">
            <img src="{{recipe.imagefile.url}}" class="card-img-top" alt="{{...}}"></a>
            <div class="card-body">
                <h5 class="card-title">{{ recipe.name}}</h5>
                
                <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
            </div>
          </div>
        </div>
        </a>
    {% endfor %}

{% endblock content %}
